# Scorched Guns access transformer (1.21.1 official names)
public net.minecraft.world.level.levelgen.structure.pools.StructureTemplatePool templates # templates
public-f net.minecraft.world.level.levelgen.structure.pools.StructureTemplatePool rawTemplates # rawTemplates
